<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-expand-lg">
            <li class="nav-item">
                <a routerLink="register">Register</a></li>
            <li class="nav-item">
                <a routerLink="login">Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="login" (click)="logout()">Logout</a>
            </li>
        </ul>   
    </nav>
    
    <!-- spinner from https://loading.io/css -->
    <div class="lds-facebook" *ngIf="showIndicator"><div></div><div></div><div></div></div>

    <router-outlet></router-outlet>

</div>
