button.delete
{
    position: relative;
    left: 194px;
    top:-32px;
    background-color: #C7C7C7;
    color:#D56060
}

button:hover
{
    background-color:#C5DAE4
}

.alert .delete:hover
{
    background-color:#F06060;
}

.alert-success
{
    background-color:rgb(174, 255, 179);
}

.alert-error
{
    background-color:rgb(255, 151, 151);
}
