<h1>Here you can make a request for new password.</h1>

<app-alert></app-alert>
<form novalidate [formGroup]="accountRecoveryForm">
  <fieldset>
    <div class="form-group">
      <label>Email</label>
      <input type="email" 
             class="form-control" 
             formControlName="email" 
             required placeholder="Email" 
             [ngClass]="{ 'alert alert-danger  border border-danger  rounded': (email.invalid && (email.dirty || email.touched)),
                            'alert alert-success border border-success rounded': (email.valid && email.dirty)
                          }" 
             [(ngModel)]="accountRecoveryDetails.email" />
      <div *ngIf="email.errors && (email.dirty || email.touched)" style="color: red">
        <p *ngIf="email.errors.required">Email is required</p>
        <p *ngIf="email.errors.pattern"> Please enter a valid email address</p>
      </div>
    </div>


    <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" [site_key]="siteKey" name="recaptcha" formControlName="recaptchaControl" ></re-captcha>
       <div *ngIf="recaptchaControl.errors" class="alert alert-warning">  
          <p>You need to solve captcha puzzle.</p>
       </div>    
    <button type="submit" class="btn btn-primary" (click)="resetPassword()">Reset password</button>

  </fieldset>
</form>