<app-alert></app-alert>
<form novalidate [formGroup]="loginForm">
    <fieldset>
      <div class="form-group">
        <label>Email</label>
        <input type="email"
               class="form-control"
               formControlName="email"
               required
               placeholder="Email"
               [ngClass]="{ 'alert alert-danger  border border-danger  rounded': (email.invalid && (email.dirty || email.touched )),
                            'alert alert-success border border-success rounded': (email.valid && (email.dirty || email.touched )),
                            'alert alert-warning border border-warning rounded': (submit && loginErrorBoolean)
                          }"
               [(ngModel)]="loginDetails.email"
               />
          <div *ngIf="email.errors && (email.dirty || email.touched)" style="color: red">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="email.errors.pattern"> Please enter a valid email address</p>         
          </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password"
               class="form-control"
               formControlName="password"
               required
               placeholder="Password"
               [ngClass]="{ 'alert alert-danger  border border-danger rounded': (password.invalid && (password.dirty || password.touched)),
                            'alert alert-success border border-success rounded': (password.valid && password.dirty),
                            'alert alert-warning border border-warning rounded': (submit && loginErrorBoolean)
                          }"
               [(ngModel)]="loginDetails.password"
                          />
        <div *ngIf="password.errors && (password.dirty || password.touched)" style="color: red">
          <p *ngIf="password.errors.required">Password is required</p>
          <p *ngIf="password.errors.pattern">Password needs to consist of minimum 8 characters and has to contain at least one letter, number and symbol </p>


        </div>
      </div>
    </fieldset>

    <p>Forgotten your login password? Click <a routerLink="/accountRecovery"> here </a> to get a <i>new one</i>.</p>

    <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
</form>