<app-alert></app-alert>

<form [formGroup]="registerForm">

  <fieldset>

    <div class="form-group">
      <label>Username</label>
      <input type="text" 
             class="form-control" 
             formControlName="username" 
             placeholder="Username" 
             [ngClass]="{ 'alert alert-danger border border-danger rounded': (username.invalid && (username.dirty || username.touched)),
                          'alert alert-success border border-success rounded': (username.valid && username.dirty)
                          }" 
             [(ngModel)]="registerDetails.username" 
             name="username"/>

      <div *ngIf="username.errors && (username.dirty || username.touched)" style="color: red">
        <p *ngIf="username.errors.required">Username is required. It will be used from email address field.</p>
      </div>

    </div>


    <div class="form-group">
      <label>Email</label>
      <input type="email" 
             class="form-control" 
             formControlName="email" 
             placeholder="Email" 
             [ngClass]="{ 'alert alert-danger border border-danger rounded': (email.invalid && (email.dirty || email.touched)),
                          'alert alert-success border border-success rounded': (email.valid && email.dirty)
                        }" 
             [(ngModel)]="registerDetails.email" />

      <div *ngIf="email.errors && (email.dirty || email.touched)" style="color: red">
        <p *ngIf="email.errors.required">Email is required.</p>
        <p *ngIf="email.errors.pattern">Please enter a valid email address.</p>
      </div>

    </div>


    <div formGroupName="passwords">

      <div class="form-group">
        <label>Password</label>
        <input type="password" 
               class="form-control" 
               formControlName="password" 
               placeholder="Password" 
               [ngClass]="{ 'alert alert-danger border border-danger rounded': (passwords.valid == false && (password.dirty || password.touched)),
                            'alert alert-success border border-success rounded': (passwords.valid && (password.dirty || password.touched))
                          }" 
               [(ngModel)]="registerDetails.password" />

          <div *ngIf="password.errors && (password.dirty || password.touched)" style="color: red">
            <p *ngIf="password.errors.required">Password is required.</p>
            <p *ngIf="password.errors.pattern">Password needs to consist of minimum 8 characters and has to contain at least one letter, number and symbol.</p>
            <p *ngIf="password.errors && (password.dirty || password.touched)">You need to input the same password into repeated password.</p>
          </div>

      </div>


      <div class="form-group">
        <label>Repeated password</label>
        <input type="password"
               class="form-control"
               formControlName="repeatedPassword"
               placeholder="Repeated password"
               [ngClass]="{   'alert alert-danger  border border-danger rounded': passwords.valid == false && (repeatedPassword.dirty || repeatedPassword.touched),
                            'alert alert-success border border-success rounded': passwords.valid && (repeatedPassword.dirty || repeatedPassword.touched)
                          }"
               [(ngModel)]="registerDetails.repeatedPassword"
             />

        <div *ngIf="passwords.valid == false && (repeatedPassword.dirty || repeatedPassword.touched)" style="color: red">
          <p *ngIf="passwords?.errors?.mismatch">Passwords are not the same.</p>
        </div>

      </div>


    </div>


  </fieldset>
  
  <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" [site_key]="siteKey" name="recaptcha" formControlName="recaptchaControl" ></re-captcha>
  <div *ngIf="recaptchaControl.errors" class="alert alert-warning">  
     <p class="thisParticularParagraph">You need to solve captcha puzzle.</p>
  </div>  

  <button type="submit" class="btn btn-primary" (click)="register()">Register</button>

  
</form>