<form novalidate [formGroup]="predictionForm">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5 class="panel-title">Create experiment</h5>
        </div>

        <div class="panel-body">

            <div class="form-group">
                <label for="education" class="control-label">Education</label>
                <select id="education" 
                        name="education" 
                        [(ngModel)]="machineLearningObject.education" 
                        formControlName="education"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': educationForm.touched && educationForm.invalid ,
                                     'alert-success border border-success rounded': (educationForm.valid && educationForm.dirty)}">
                    <option [ngValue]="null" hidden>Select Education</option>
                    <option *ngFor="let entry of education">{{entry}}</option>

                </select>
                <span class="help-block" *ngIf="educationForm.touched && educationForm.invalid" style="color: red">Selected education is required.</span>    
            </div>

            <div class="form-group">
                <label for="workclass" class="control-label">Workclass</label>
                <select id="workclass" 
                        name="workclass" 
                        [(ngModel)]="machineLearningObject.workclass"
                        formControlName="workclass"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': workclassForm.touched && workclassForm.invalid ,
                                     'alert-success border border-success rounded': (workclassForm.valid && workclassForm.dirty)}">
                    <option [ngValue]="null" hidden>Select workclass</option>
                    <option *ngFor="let entry of workclass">{{entry}}</option>
                </select>
                <span class="help-block" *ngIf="workclassForm.touched && workclassForm.invalid" style="color: red">Selected workclass is required.</span>
            </div>

            <div class="form-group">
                <label for="maritalStatus" class="control-label">Marital status</label>
                <select id="maritalStatus" 
                        [(ngModel)]="machineLearningObject.maritalStatus" 
                        formControlName="maritalStatus"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': maritalStatusForm.touched && maritalStatusForm.invalid ,
                                     'alert-success border border-success rounded': (maritalStatusForm.valid && maritalStatusForm.dirty)}">
                    <option [ngValue]="null" hidden>Select marital status</option>
                    <option *ngFor="let entry of maritalStatus">{{entry}}</option>
                </select>
                <span class="help-block" *ngIf="maritalStatusForm.touched && maritalStatusForm.invalid" style="color: red">Selected marital status is required.</span>
            </div>

            <div class="form-group">
                <label for="occupation" class="control-label">Occupation</label>
                <select id="occupation"
                        [(ngModel)]="machineLearningObject.occupation" 
                        formControlName="occupation"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': occupationForm.touched && occupationForm.invalid ,
                                     'alert-success border border-success rounded': (occupationForm.valid && occupationForm.dirty)}">
                    <option [ngValue]="null" hidden>Select occupation</option>                                     
                    <option *ngFor="let entry of occupation">{{entry}}</option>
                </select>
                <span class="help-block" *ngIf="occupationForm.touched && occupationForm.invalid" style="color: red">Selected occupation is required.</span>
            </div>
            
            <div class="form-group">
                <label for="relationship" class="control-label">Relationship</label>
                <select id="relationship" 
                        [(ngModel)]="machineLearningObject.relationship" 
                        formControlName="relationship"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': relationshipForm.touched && relationshipForm.invalid ,
                                     'alert-success border border-success rounded': (relationshipForm.valid && relationshipForm.dirty)}">
                    <option [ngValue]="null" hidden>Select relationship</option>
                    <option *ngFor="let entry of relationship">{{entry}}</option>
                </select>
                <span class="help-block" *ngIf="relationshipForm.touched && relationshipForm.invalid" style="color: red">Selected relationship is required.</span>
            </div>
            
            <div class="form-group">
                <label for="race" class="control-label">Race</label>
                <select id="race"
                        [(ngModel)]="machineLearningObject.race" 
                        formControlName="race"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': raceForm.touched && raceForm.invalid ,
                                     'alert-success border border-success rounded': (raceForm.valid && raceForm.dirty)}">
                    <option [ngValue]="null" hidden>Select race</option>
                    <option *ngFor="let entry of race">{{entry}}</option>
                </select>
                <span class="help-block" *ngIf="raceForm.touched && raceForm.invalid" style="color: red">Selected race is required.</span>
            </div>
            
            <div class="form-group">
                <label for="sex" class="control-label">Sex</label>
                <select id="sex"
                        [(ngModel)]="machineLearningObject.sex" 
                        formControlName="sex"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': sexForm.touched && sexForm.invalid ,
                                     'alert-success border border-success rounded': (sexForm.valid && sexForm.dirty)}">
                    <option [ngValue]="null" hidden>Select sex</option>
                    <option *ngFor="let entry of sex">{{entry}}</option>
                </select>
                <span class="help-block" *ngIf="sexForm.touched && sexForm.invalid" style="color: red">Selected sex is required.</span>
            </div>

            <div class="form-group">
                <label for="nativeCountry" class="control-label">Native country</label>
                <select id="nativeCountry"
                        [(ngModel)]="machineLearningObject.nativeCountry" 
                        formControlName="nativeCountry"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': nativeCountryForm.touched && nativeCountryForm.invalid ,
                                     'alert-success border border-success rounded': (nativeCountryForm.valid && nativeCountryForm.dirty)}">
                    <option [ngValue]="null" hidden>Select native country</option>
                    <option *ngFor="let entry of nativeCountry">{{entry}}</option>
                </select>
                <span class="help-block" *ngIf="nativeCountryForm.touched && nativeCountryForm.invalid" style="color: red">Selected native country is required.</span>
            </div>

            <div class="form-group">
                <label for="age" class="control-label">Age</label>
                <select id="age"
                        [(ngModel)]="machineLearningObject.age" 
                        formControlName="age"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': ageForm.touched && ageForm.invalid ,
                                     'alert-success border border-success rounded': (ageForm.valid && ageForm.dirty)}">
                        <option [ngValue]="null" hidden>Select age</option>
                        <option *ngFor="let entry of age">{{entry}}</option>
                    </select>
                    <span class="help-block" *ngIf="ageForm.touched && ageForm.invalid" style="color: red">Selected age is required.</span>
            </div>
            
            <div class="form-group">
                <label for="fnlwgt" class="control-label">fnlwgt</label>
                <input  id="fnlwgt"
                        [(ngModel)]="machineLearningObject.fnlwgt"
                        formControlName="fnlwgt"
                        class="form-control"
                        [ngClass]="{ 'alert-danger border border-danger rounded': fnlwgtForm.touched && fnlwgtForm.invalid ,
                                     'alert-success border border-success rounded': (fnlwgtForm.valid && fnlwgtForm.dirty)}"
                        placeholder="Please enter fnlwgt value">
                <div *ngIf="fnlwgtForm.errors && (fnlwgtForm.dirty || fnlwgtForm.touched)" style="color: red">
                    <p>Fnlwgt value is required.</p>
                    <p *ngIf="fnlwgtForm.errors.max">Entered value is greater than 100 000 000 000.</p>
                    <p *ngIf="fnlwgtForm.errors.min">Entered value is less than 0.</p>
                    <p *ngIf="fnlwgtForm.errors.pattern">Entered value is not positive integer or enter value is greater than 100 000 000 000.</p>
                </div>
            </div>
        
            <div class="form-group">
                    <label for="educationNum">Education num</label>
                    <select id="educationNum" 
                            [(ngModel)]="machineLearningObject.educationNum" 
                            formControlName="educationNum"
                            class="form-control"
                            [ngClass]="{ 'alert-danger border border-danger rounded': educationNumForm.touched && educationNumForm.invalid ,
                                         'alert-success border border-success rounded': (educationNumForm.valid && educationNumForm.dirty)}">
                            <option [ngValue]="null" hidden>Select education number in years</option>
                            <option *ngFor="let entry of educationNum">{{entry}}</option>
                    </select>
                    <span class="help-block" *ngIf="educationNumForm.touched && educationNumForm.invalid" style="color: red">Selected education number is required.</span>
            </div>

            <div class="form-group">
                    <label for="capitalGain">Capital gain</label>
                    <input  id="capitalGain"
                            [(ngModel)]="machineLearningObject.capitalGain"
                            formControlName="capitalGain"
                            class="form-control"
                            [ngClass]="{ 'alert-danger border border-danger rounded': capitalGainForm.touched && capitalGainForm.invalid ,
                                         'alert-success border border-success rounded': (capitalGainForm.valid && capitalGainForm.dirty)}"
                            placeholder="Enter capital gain value">
                    <div *ngIf="capitalGainForm.errors && (capitalGainForm.dirty || capitalGainForm.touched)" style="color: red">
                           <p>Capital gain value is required.</p>
                           <p *ngIf="capitalGainForm.errors.max">Entered value is greater than 100 000 000 000.</p>
                           <p *ngIf="capitalGainForm.errors.min">Entered value is less than 0.</p>
                           <p *ngIf="capitalGainForm.errors.pattern">Entered value is not positive integer or enter value is greater than 100 000 000 000.</p>
                    </div>
            </div>

            <div class="form-group">
                    <label for="capitalLoss">Capital loss</label>
                    <input  id="capitalLoss" 
                            [(ngModel)]="machineLearningObject.capitalLoss"
                            formControlName="capitalLoss"
                            class="form-control"
                            [ngClass]="{ 'alert-danger border border-danger rounded': capitalLossForm.touched && capitalLossForm.invalid ,
                                         'alert-success border border-success rounded': (capitalLossForm.valid && capitalLossForm.dirty)}"
                            placeholder="Enter capital loss value">
                    <div *ngIf="capitalLossForm.errors && (capitalLossForm.dirty || capitalLossForm.touched)" style="color: red">
                            <p>Capital loss value is required.</p>
                            <p *ngIf="capitalLossForm.errors.max">Entered value is greater than 100 000 000 000.</p>
                            <p *ngIf="capitalLossForm.errors.min">Entered value is less than 0.</p>
                            <p *ngIf="capitalLossForm.errors.pattern">Entered value is not positive integer or enter value is greater than 100 000 000 000.</p>
                    </div>
            </div>
      
            <div class="form-group">
                    <label for="hoursPerWeek" class="control-label">Hours per week</label>
                    <select id="hoursPerWeek"
                            [(ngModel)]="machineLearningObject.hoursPerWeek" 
                            formControlName="hoursPerWeek"
                            class="form-control"
                            required
                            [ngClass]="{ 'alert-danger border border-danger rounded': hoursPerWeekForm.touched && hoursPerWeekForm.invalid ,
                                         'alert-success border border-success rounded': (hoursPerWeekForm.valid && hoursPerWeekForm.dirty)}">
                        <option [ngValue]="null" hidden>Select hours per week</option>
                        <option *ngFor="let entry of hoursPerWeek">{{entry}}</option>
                    </select>
                    <span class="help-block" *ngIf="hoursPerWeekForm.touched && hoursPerWeekForm.invalid" style="color: red">Selected hours per week is required.</span>
            </div>
        

        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-success" [disabled]="predictionForm.invalid" (click)="makeExperimentCall()">Experiment!</button>
        </div>

    </div>
</form>


<!--  https://www.youtube.com/watch?v=bT9Tta7xWdo  -->
<!--  Modal for successful experiment  -->
<button id="modalActivationButton" hidden class="btn btn-primary btn-sm" data-target="#experimentDataModal" data-toggle="modal">Pokaži</button>
<div class="modal" id="experimentDataModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <h4 class="modal-title">Experiment data</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>ID: {{experimentDataResponse?.id}}</p>  
                <p>Post date: {{experimentDataResponse?.postDate}}</p>
                <p><b>Prediction value: {{experimentDataResponse?.predictionValue == true ? 'true, >50K' : 'false, <=50K'}}</b></p>
                <p><b>Prediction probability: {{experimentDataResponse?.probability}}</b></p>
                <hr>
                <p>Age: {{experimentDataResponse?.age}}</p>
                <p>Workclass: {{experimentDataResponse?.workclass}}</p>
                <p>Fnlwgt: {{experimentDataResponse?.fnlwgt}}</p>
                <p>Education: {{experimentDataResponse?.education}}</p>
                <p>Education number: {{experimentDataResponse?.educationNum}}</p>
                <p>Marital status: {{experimentDataResponse?.maritalStatus}}</p>
                <p>Occupation: {{experimentDataResponse?.occupation}}</p>
                <p>Relationship: {{experimentDataResponse?.relationship}} </p>
                <p>Race: {{experimentDataResponse?.race}}</p>
                <p>Sex: {{experimentDataResponse?.sex}}</p>
                <p>Capital gain: {{experimentDataResponse?.capitalGain}}</p>
                <p>Capital loss: {{experimentDataResponse?.capitalLoss}}</p>
                <p>Hours per week: {{experimentDataResponse?.hoursPerWeek}}</p>
                <p>Native country: {{experimentDataResponse?.nativeCountry}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--  Modal for failed experiment attempt  -->
<button id="modalErrorButton" hidden class="btn btn-primary btn-sm" data-target="#experimentErrorDataModal" data-toggle="modal">Pokaži</button>
<div class="modal" id="experimentErrorDataModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">          
                <h4 class="modal-title">Error</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>There was an error with processing your request. Please try again later.</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Acknowledge and close</button>
            </div>
        </div>
    </div>
</div>