
<app-alert></app-alert>

<form [formGroup]="passwordResetForm">

    <fieldset>
      <div formGroupName="passwords">
  
        <div class="form-group">
          <label>Password</label>
          <input type="password" 
                 class="form-control" 
                 formControlName="password" 
                 placeholder="Password" 
                 [ngClass]="{ 'alert alert-danger  border border-danger rounded': passwords.valid == false && (password.dirty || password.touched),
                              'alert alert-success border border-success rounded': passwords.valid && (password.dirty || password.touched)
                            }" 
                 [(ngModel)]="passwordResetDetail.password"
                 autocomplete="off"/>
  
            <div *ngIf="password.errors && (password.dirty || password.touched)" style="color: red">
              <p *ngIf="password.errors.required">Password is required.</p>
              <p *ngIf="password.errors.pattern">Password needs to consist of minimum 8 characters and has to contain at least one letter, number and symbol.</p>
              <p *ngIf="password.errors && (password.dirty || password.touched)">You need to input the same password into repeated password.</p>
            </div>
  
        </div>
  
  
        <div class="form-group">
          <label>Repeated password</label>
          <input type="password"
                 class="form-control"
                 formControlName="repeatedPassword"
                 placeholder="Repeated password"
                 [ngClass]="{ 'alert alert-danger  border border-danger rounded': passwords.valid == false && (repeatedPassword.dirty || repeatedPassword.touched),
                              'alert alert-success border border-success rounded': passwords.valid && (repeatedPassword.dirty || repeatedPassword.touched)
                            }"
                 [(ngModel)]="passwordResetDetail.repeatedPassword"
                 autocomplete=off/>
  
          <div *ngIf="passwords.valid == false && (repeatedPassword.dirty || repeatedPassword.touched)" style="color: red">
            <p *ngIf="passwords?.errors?.mismatch">Passwords are not the same.</p>
          </div>
        </div>
  
  
      </div>
  
  
    </fieldset>

    <button type="submit" class="btn btn-primary" (click)="changePassword()">Change password</button>
  
    
  </form>